@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}


body{width: 100%; height: 100vh; background-color: rgb(175, 172, 172);}

header{display: flex; justify-content: space-between; width: 100%; height: 70px; background-color: #101010; padding: 10px; align-items: center; flex-wrap: wrap; flex-direction: column;}

.logo{width: 45px; height: 45px; border-radius: 10px; background-color: #ccc;}

.menu{display: flex; list-style: none; flex-wrap: wrap;}
.menu li a{color: #fff; display: block; text-decoration: none; margin-left: 10px;}

.container{max-width: 1200px; margin: 0 auto; display: flex; flex-wrap: wrap;}

.produtos{border: 1px solid white; flex: 1 1 200px; margin: 5px;}
img{width: 100%; border-radius: 10px;}




